@model Loja_Quadrinhos.Models.Pedido

@{
    ViewData["Title"] = "Edit";
}

<h1 class="titulo">Editar Pedido</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PedidoId" />
            <div class="form-group">
                <label asp-for="PedidoTotal" class="control-label"></label>
                <input asp-for="PedidoTotal" class="form-control" />
                <span asp-validation-for="PedidoTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataPedido" class="control-label"></label>
                <input asp-for="DataPedido" class="form-control" />
                <span asp-validation-for="DataPedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PedidoEntregueEm" class="control-label"></label>
                <input asp-for="PedidoEntregueEm" class="form-control" />
                <span asp-validation-for="PedidoEntregueEm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-padrao" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Listar">Voltar para a listagem</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
