<div class="container">
    <div class="row">
        <p class="texto">
            Gabriel Bortone
        </p>
        <ul class="texto">
            <li>Email: <a href="mailto:newgabrielbortone@gmail.com">newgabrielbortone@gmail.com</a></li>
            <li>Linkedin: <a href="https://www.linkedin.com/in/gabriel-bortone-368564169/">Meu linkedin:</a></li>
            <li>GitHub: <a href="https://github.com/gabrielbortone">Meu github:</a></li>
        </ul>
    </div>
</div>