@font-face {
    font-family: XPLOR;
    src: url(../fonts/XPLOR.otf);
    font-weight: bold;
}

.imagem-miniatura {
    width: 220px;
    height: 350px;
}

.imagem-completa {
    width: 440px;
    height: 700px;
}


.img-miniatura{
    width: 40px;
    height: 40px;
}

.subtitulo {
    font-family: XPLOR;
    font-size: 1rem;
    line-height: 1rem;
    color: #40333B;
}

.preco {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #BF343F;
}

.preco-detalhe {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    color: #BF343F;
}


.titulo-quadrinho {
    color: #BF343F;
    font-size: 3rem;
    font-family: XPLOR;
}


.btn-comprar {
    width: 423px;
    height: 56px;
    background: #86A694;
    line-height: 56px;
}

.descricao-detalhe {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #40333B;
}

.texto {
    font-family: 'Open Sans', sans-serif;
    color: #40333B;
}

.texto-danger {
    color: #BF343F;
}
.barra {
    background-color: #D9AC9C;
}

.logo{
    margin-right: 80px;
}

.menu {
    font-family: XPLOR;
    font-size: 1rem;
    color: #40333B;
}

.menu-item{
    margin-right: 20px;
}

.titulo {
    color: #BF343F;
    font-size: 3rem;
    font-family: XPLOR;
    margin-top: 40px;
}

.btn-padrao {
    color: #40333B;
    background-color: #86A694;
    border-color: #86A694;
}


.titulo:after {
    content: "";
    display: block;
        margin: 8px auto;
        width: 120px;
        height: 3px;
        background: #86A694;
        margin-bottom: 50px;
}

.conteudo {
    margin-top: 40px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #F2B47E;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #86A694;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #86A694;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
    border-top: 1px solid #86A694;
}
.border-bottom {
    border-bottom: 1px solid #86A694;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
