@model IEnumerable<Loja_Quadrinhos.Models.Produto>

<div class="text-center">
    <h1 class="titulo">Listando produtos</h1>
</div>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 quadrinho">
                <a asp-action="Detalhes" asp-route-produtoId="@item.ProdutoId" class="imagem-miniatura">
                    <div class="imagem-completa">
                        <img src="@item.ImagemUrl" class="img-fluid" />
                    </div>
                </a>
                <div>
                    <p class="subtitulo">@Html.DisplayFor(modelItem => item.Titulo)</p>
                    <p class="preco">R$ @Html.DisplayFor(modelItem => item.Preco)</p>
                </div>
            </div>
        }
    </div>
</div>
