@model CarrinhoCompraVM

@if (Model.QuantidadeItens > 0)
{
    <li class="nav-item menu-item">
        <a asp-controller="CarrinhoCompra">
            <span style="border-top: 12px;"><img src="~/img/carrinho compra 1.png" /></span>
            <span class="texto">
                @Model.QuantidadeItens
            </span>
        </a>
    </li>
}
