@model CarrinhoCompraVM

@if (Model.QuantidadeItens > 0)
{
        <a asp-controller="CarrinhoCompra">
            <span><img src="~/img/carrinho compra 1.png" /></span>
            <span>
                @Model.QuantidadeItens
            </span>
        </a>
}
